fieldset{
    width: 60%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 30px;
    color: whitesmoke;
    background: linear-gradient(90deg,red,orange);
}
legend{
    background-color: black;
    padding: 10px;
    border-radius: 30px;
}

input[type="text"]{
    outline: none;
}