p{
    border: 1px solid gray;
    width: 20%;
    display: inline-block;
    padding: 20px;
    border-radius: 30px;
    margin: 30px;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    box-shadow: 0px 0px 20px black ;
}

.c1{
    background: linear-gradient(90deg,red,green);
}

#id1{
    background: linear-gradient(45deg,yellow,blue);
}

.c2{
    background: linear-gradient(135deg,orange,pink);
}